name: Tests

on:
  push:
  pull_request:
    branches: [ main ]

jobs:
  run_func_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: particle_env.yml
          cache-environment: true
      - run: bash test/func/func_testing.sh
        shell: micromamba-shell {0}
  
  run_unit_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: particle_env.yml
          cache-environment: true
      - run: python test/unit/utils_tests.py
        shell: micromamba-shell {0}
  
  run_linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: particle_env.yml
          cache-environment: true
      - run: pycodestyle $(git ls-files "*.py" | grep -v "quickstart_tutorial.py" | grep -v "particle_picker.py")
        shell: micromamba-shell {0}